<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-6 col-lg-6 col-xl-6 mx-auto sign-up-block">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">

          <% if f.object.errors[:email].include?(t('activerecord.errors.models.user.attributes.email.blank')) %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        label: false,
                        input_html: { autocomplete: "email", placeholder: "adresse email" },
                        error: t('activerecord.errors.models.user.attributes.email.blank') %>
          <% elsif f.object.errors[:email].include?(t('activerecord.errors.models.user.attributes.email.taken')) %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        label: false,
                        input_html: { autocomplete: "email", placeholder: "adresse email" },
                        error: t('activerecord.errors.models.user.attributes.email.taken') %>
          <% elsif f.object.errors[:email].include?(t('activerecord.errors.models.user.attributes.email.invalid')) %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        label: false,
                        input_html: { autocomplete: "email", placeholder: "adresse email" },
                        error: t('activerecord.errors.models.user.attributes.email.invalid') %>
          <% else %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        label: false,
                        input_html: { autocomplete: "email", placeholder: "adresse email" } %>
          <% end %>

          <% if f.object.errors[:password].include?(t('activerecord.errors.models.user.attributes.password.blank')) %>
            <%= f.input :password,
                        required: true,
                        label: false,
                        hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password", placeholder: "mot de passe" },
                        error: t('activerecord.errors.models.user.attributes.password.blank') %>
          <% elsif f.object.errors[:password].include?(t('activerecord.errors.models.user.attributes.password.too_short', count: @minimum_password_length)) %>
            <%= f.input :password,
                        required: true,
                        label: false,
                        hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password", placeholder: "mot de passe" },
                        error: t('activerecord.errors.models.user.attributes.password.too_short', count: @minimum_password_length) %>
          <% else %>
            <%= f.input :password,
                        required: true,
                        label: false,
                        hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password", placeholder: "mot de passe" } %>
          <% end %>

          <%= f.input :password_confirmation,
                      label: false,
                      required: true,
                      input_html: { autocomplete: "new-password", placeholder: "confirmer mot de passe" },
                      error: t('activerecord.errors.models.user.attributes.password.confirmation') %>

        <div class="form-actions">
          <%= f.button :submit, "S'inscrire", class: "btn-basic-bleu", value: "S'inscrire" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>


      </div>
    </div>
  </div>
</div>
